ion-header {
  ion-toolbar {
    background-color: #3f51b5;
    color: #fff;
    ion-title {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      text-shadow: 1px 1px #333;
    }
  }
}

ion-content.auth-form {
  ion-grid {
    height: 100%;
    ion-row {
      ion-col.ion-align-self-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ion-button {
          margin: 10px;
          width: 80%;
          border-radius: 25px;
          font-size: 1.2em;
          text-shadow: 1px 1px #333;
          box-shadow: 1px 1px 5px #333;
          &.primary {
            background-color: #3f51b5;
            color: #fff;
            &:hover {
              background-color: #333;
            }
          }
          &.danger {
            background-color: #f44336;
            color: #fff;
            &:hover {
              background-color: #333;
            }
          }
        }
        .divider {
          margin: 10px 0;
          width: 80%;
          text-align: center;
          .line {
            border-top: 1px solid #333;
            display: inline-block;
            padding: 0 10px;
            position: relative;
            &.one-line {
              top: -10px;
            }
          }
        }
        .already {
          margin: 10px 0;
          font-size: 1.2em;
        }
      }
    }
  }
}
